/* app/app.css */

@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-white;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

* {
  @apply transition-colors duration-200;
}