/* app/app.css */

@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  @apply bg-gray-50 text-gray-900;
}